[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
google-api-python-client = "*"
pandas = "*"
matching = "*"
oauth2client = "*"

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.7"
